<ion-header>
  <ion-toolbar>
    <ion-title>VistaMueble</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>  <ion-card class="welcome-card">
  <ion-img src="/assets/img/parqueSimonBolivar.jpg"></ion-img>
  <!-- <ion-card-header>
    <ion-card-subtitle>SISTEMA DE INVENTARIO PARQUES</ion-card-subtitle>
    <ion-card-title>BIENVENIDO!</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>Esta es una App que le ayudará a inventariar Mobiliario y Arboles de los Parques publicos</p>
  </ion-card-content> -->
</ion-card>
  <label class = "item item-input item-select">
    <div class = "input-label">
     <h1>Estado "Selecciona un estado"</h1>  
    </div>
   
    <select>
       <option>Option 1</option>
       <option selected>Option 2</option>
       <option>Option 3</option>
    </select>
 </label>
 <label class = "item item-input item-select">
  <div class = "input-label">
   <h1>Estado "Altura Aproximada"</h1>  
  </div>
 
  <select>
     <option>1 metro</option>
     <option selected>2 metros</option>
     <option>3 metros</option>
     <option>4 metros</option>
  </select>
</label>
 <footer>
   Este es el pie de pagina
 </footer>
</ion-content>
