<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>My Navigation Bar</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-title>Subheader</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/img/Slider1_0.jpg"></ion-img>
    <!-- <ion-card-header>
      <ion-card-subtitle>SISTEMA DE INVENTARIO PARQUES</ion-card-subtitle>
      <ion-card-title>BIENVENIDO!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Esta es una App que le ayudará a inventariar Mobiliario y Arboles de los Parques publicos</p>
    </ion-card-content> -->
  </ion-card>
  <ion-list>
    <ion-radio-group>
      <ion-list-header>
        Auto Manufacturers
      </ion-list-header>
  
      <ion-item>
        <ion-label>Cord</ion-label>
        <ion-radio value="cord"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Duesenberg</ion-label>
        <ion-radio value="duesenberg"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Hudson</ion-label>
        <ion-radio value="hudson"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Packard</ion-label>
        <ion-radio value="packard"></ion-radio>
      </ion-item>
  
      <ion-item>
        <ion-label>Studebaker</ion-label>
        <ion-radio value="studebaker"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-footer>
      <ion-button color="primary" routerLink="/home">v0lver inicio</ion-button>
  </ion-footer>
</ion-content>


